body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  line-height: 1.5;
}

#preamble {
  margin: auto;
  max-width: 40rem;
}

.navigation > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation > ul > li {
  display: inline-block;
  margin: 0 1rem 0 0;
  padding: 0;
}

#content {
  margin: auto;
  max-width: 40rem;
}

.title {
  text-align: left;
}

.src {
  font-family: "Menlo", "DejaVu Sans Mono", "Liberation Mono", "Consolas", "Ubuntu Mono", "Courier New", "andale mono", "lucida console", monospace;
  line-height: 1.2;
  font-size: 0.9rem;
}

.src-elixir:before {
  content: 'Elixir'
}

.example {
  position: relative;
}

.example:hover::before {
  position: absolute;
  margin-top: 14px;
  top: -8px;
  right: 12px;
  padding: 3px;
  color: #555;
  content: "Output";
}

blockquote {
  margin: 1rem 0;
  border-left: 0.5rem solid gray;
  padding: 0 1rem;
  color: dimgray;
  font-style: italic;
}

code {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  padding: 0.1rem 0.25rem;
  background-color: #f2f2f299;
  font-size: 0.9rem;
}

pre {
  margin: 0.5rem 0 1rem 0;
}

pre.example {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

figure {
  margin: 0;
}

figure > img {
  width: 100%;
}

figcaption {
  color: dimgray;
  font-size: 0.9rem;
}

.org-src-name {
  color: dimgray;
  font-size: 0.9rem;
}

details {
  margin: 0.5rem 0;
  border: 1px solid #e6e6e6;
  padding: 0.5rem;
  /* background-color: #f2f2f299; */
}

summary {
  font-weight: bold;
  cursor: s-resize;
}

details[open] > summary {
  cursor: n-resize;
}

td {
  padding: 0.1rem 1rem 0.5rem 0;
}

#postamble {
  margin: 2rem auto 1rem auto;
  max-width: 40rem;
}
